{% extends 'base.html.twig' %}

{% block title %}
create
{% endblock %}

{% block body %}
<br/><br/><br/><br/>
    <h2 class="page-header">Add Todo</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
