{% extends 'base.html.twig' %}

{% block body %}
<br/><br/><br/>
<h3 class="page-header">TO DO lists</h3>


<table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">to do</th>
      <th scope="col">operations</th>
    </tr>
  </thead>
  <tbody>
  {% for todo in  todos%}
    <tr>
      <td>{{todo.name}}</td>
      <td>
      <a href="todo/details/{{todo.id}}" class="btn btn-info">view</a>
      <a href="todo/edit/{{todo.id}}" class="btn btn-success">Edit</a>
      <a href="todo/delete/{{todo.id}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock %}
